body{
    background-color: #64aff1;
}
#contenedor1{
    display:flex;
    justify-content:space-around;
    font-family:verdana, sans-serif;
    margin: 20px 0px;            
}
fieldset{
    border:2px solid #444;
    background:#dddddd;
    box-shadow: 5px 5px 2px #4a4a4a;
    border-radius:5px;
    width:100%;
}
.formu p label{
    width:50%;
    float:left;
}
label{
    font-weight:bold;
}
input{
    text-align: right;
}
#bebidas{
    width: 7.5vw;
}
.precios{
    text-align:right;
}
.bot{
    width: 40%;
    font-size:16px;
    color:#031c73;
    font-weight:bold;
    cursor: pointer;
}
.ajusteCaja{
    width: 7.1vw;
}
#contenedor2{
    width: 18vw;
    margin: auto;
    font-family:verdana, sans-serif;
}
textarea{
    margin-top: 10px;
    width: 20vw;
}
.botones{
    display: flex;
    justify-content: space-around;
}
